docker {
    enabled = true
}

//executor {
//   queueSize = 1
//}

//process {
//    memory = '56 GB'
//}

params {



adapters = "${baseDir}/databases/TruSeq3-PE.fa"
kraken2_db = "${baseDir}/databases/k2_plus_small_db_8gb"
utax_reference_db = "${baseDir}/databases/utax_reference_dataset_25.07.2023.fasta"
virsorter2_db = "${baseDir}/databases/db"
gtdbtk_db = "${baseDir}/databases/gtdbtk_r214_data/release214"


}
